.buildingsList {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
}

.buildingsList li {
    border-bottom: 1px solid rgba(0,0,0, 0.2);
    padding: 16px 0;
}

.buildingsList li:last-child {
    border-bottom: none;
}

.buildingImg {
    width: 100%;
}