.page {
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
  flex: 1;
}

.bgprdx {
  min-height: 100px;
  background-image: url("./assets/img__groz.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}